html,
body {
  height: 100%;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  background-color: #1b1a55;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "nav nav nav"
    "today tomorrow after"
    "today tomorrow after";
  height: 95%;
  gap: 16px;
}

#main > div {
  padding: 8px;
  background-color: #070f2b;
  border-radius: 8px;
  color: #9290c3;
}
button,
input {
  background-color: #535c91;
  border: none;
  border-radius: 0.25rem;
  padding: 2px 6px;
  margin: 2px;
  color: #fff;
  font-size: 20px;
}
button {
  cursor: pointer;
  opacity: 0.9;
}

::placeholder {
  color: #fff;
  opacity: 0.9;
}
#nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #fff;
}

#today {
  grid-area: today;
}

#tomorrow {
  grid-area: tomorrow;
}

#after-tomorrow {
  grid-area: after;
}

#today,
#tomorrow,
#after-tomorrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
h1,
h2 {
  margin: 0;
  text-align: center;
}
